.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.light, .dark {
	font-size: 2rem;
	font-weight: bold;
	margin: 20px 0;
}

.dark {
	color: black;
}

.light {
	color: white;
}

.dark {
	color: black;
}

.button {
	background: none;
	border: none;
	color: rgb(0 255 255);
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0px 0px 8px 2px rgba(0, 255, 255, 1), 
							0 0px 3px 2px rgba(0, 0, 255, 1),
							0 0px 4px 4px rgba(197, 240, 242, 1) inset;
	width: 90px;
	height: 40px;
	opacity: 1;
	transition: opacity 0.4s;
}

.hidden {
	opacity: 0;
}
