@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  width: 40px !important;
  height: 40px !important;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
